<div class="header">
  <h1 class="title">第7回しゅが研<span>毎週金曜日20時〜</span></h1>
</div>

<div class="main">
  <div class="league-table">
    <h2 class="league-table-title">リーグ表</h2>
    <table id="winorlose_table" border="2" bordercolor="black" style="border-collapse: collapse">
      <tr class="top-title">
        <th class="rank-title">順位</th>
        <th class="player-title">対局者</th>

        <% @results.each do |result| %>
        <td class="opponent-name"><%= result.player %></td>
        <% end %>

        <th class="win-count-title">勝</th>
        <th class="lose-count-title">負</th>
        <th class="sb-count-title">SB</th>
      </tr>

      <% @results.each_with_index do |result, i| %>
      <tr class="result-cells">
        <td class="rank"></td>
        <td class="self-name"><%= result.player %></td>
        <td id="op_<%= i + 1 %>_1" data-id=<%= result.id %> data-result=<%= result.op_1 %>><%= result.op_1 %></td>
        <td id="op_<%= i + 1 %>_2" data-id=<%= result.id %> data-result=<%= result.op_2 %>><%= result.op_2 %></td>
        <td id="op_<%= i + 1 %>_3" data-id=<%= result.id %> data-result=<%= result.op_3 %>><%= result.op_3 %></td>
        <td id="op_<%= i + 1 %>_4" data-id=<%= result.id %> data-result=<%= result.op_4 %>><%= result.op_4 %></td>
        <td id="op_<%= i + 1 %>_5" data-id=<%= result.id %> data-result=<%= result.op_5 %>><%= result.op_5 %></td>
        <td id="op_<%= i + 1 %>_6" data-id=<%= result.id %> data-result=<%= result.op_6 %>><%= result.op_6 %></td>
        <td id="op_<%= i + 1 %>_7" data-id=<%= result.id %> data-result=<%= result.op_7 %>><%= result.op_7 %></td>
        <td id="op_<%= i + 1 %>_8" data-id=<%= result.id %> data-result=<%= result.op_8 %>><%= result.op_8 %></td>
        <td id="op_<%= i + 1 %>_9" data-id=<%= result.id %> data-result=<%= result.op_9 %>><%= result.op_9 %></td>
        <td id="op_<%= i + 1 %>_10" data-id=<%= result.id %> data-result=<%= result.op_10 %>><%= result.op_10 %></td>
        <td id="win_<%= i + 1 %>">0</td>
        <td id="lose_<%= i + 1 %>">0</td>
        <td id="sb_<%= i + 1 %>">0</td>
      </tr>
      <% end %>

    </table>
  </div>

  <div class="member-list">
    <h2 class="member-list-title">対局者紹介</h2>
    <table border="2" bordercolor="black" style="border-collapse: collapse" class="member-table">

      <tr class="member-info">
        <th class="member-title">対局者</th>
        <th class="account-title">アカウント</th>
        <th class="achievement-title">実績</th>
      </tr>

      <% @results.each do |result| %>
      <tr class="member-introduction">
        <td class="member"><%= result.player %></td>
        <td class="account"><%= result.account %></td>
        <td class="achievement"><%= result.achievement %></td>
      </tr>
      <% end %>

    </table>
    </div>
  </div>
</div>

<div class="footer">
  <div>
  </div>
</div>